/*=====================================
=            Module Styles            =
=====================================*/

.contact-info {
	margin-top: -2.5em;
}

.contact-image {
	font-size: 3em;
	padding: 0;
	padding-left: 1em;
	color: crimson;
}

.contact-text {
	font-size: 1em;
	font-weight: 600;
	line-height: 0;
	padding: 0;
	margin-top: -.4em;

}

/*==========  Social Media  ==========*/
.social-media {
	a {
		display: inline-block;
		height: 24px;
		width: 24px;
		font-size: 2em;
		padding: .5em;
	}
}

.top-social {
	margin-top: -3.3em;
	margin-right: 2em;
}

