/*=====================================
=            Module Styles            =
=====================================*/

/*==========  Contact Info  ==========*/

.contact-info {
	margin-top: -2.5em;
}

.contact-image {
	font-size: 3em;
	padding: 0;
	padding-left: 1em;
	color: crimson;
}

.contact-text {
	font-size: 1em;
	font-weight: 600;
	line-height: 0;
	padding: 0;
	margin-top: -.4em;

}

/*==========  Social Media  ==========*/
.social-media {
	a {
		display: inline-block;
		height: 24px;
		width: 24px;
		font-size: 1.5em;
		padding: .4em;
	}
}

.top-social {
	margin-top: -2.7em;
	margin-right: 0em;
}

/*==========  Price Box  ==========*/
.bordered-box {
	border: 5px solid #f4f5f7;
	border-radius: 10px;
}

.bordered-box-content {
	padding: 1.5em;
}

.price-box {
	background-color: #fff;

	font-size: 18px;
	text-align: center;

	.bordered-box-content {
		padding: 0 1.5em;
	}
}

.price-box-footer {
	padding: 1em 1.5em;

	background-color: #2b333d;

	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

/*==========  Buttons  ==========*/
.button {
	display: inline-block;
	padding: .75em 1.5em;

	border-radius: 5px;

	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.primary {
	font-size: 18px;
}

.secondary {
	border: 1px solid;
}

/*==========  HR  ==========*/
hr {
	height: 55px;
	margin-top: 3em;

	background: transparent url('../img/horizontalSeparator.jpg') center center no-repeat;

	border: none;
}


/*==========  Testimonials  ==========*/
.bordered-box-header {
	padding: 1.5em;

	background-color: #eff1f3;

	p {
		margin: 0;

		font-weight: bold;
	}
}

/*==========  Forms  ==========*/
.custom-form {
	input[type="text"],
	input[type="email"],
	textarea {
		padding: .75em;

		border: 1px solid;
		border-radius: 5px;

		outline: none;
	}
}
































